/* TELAS MÓVEIS PEQUENAS */

@media screen and (min-width: 320px) and (max-width: 375px) {

  .counters {
    font-size: 70px !important;
    margin-bottom: -5px;
  }
  
  .circles {
    font-size: 14px !important;
    width: 220px !important;
    height: 220px !important;
    margin-top: 35px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .counters {
    font-size: 70px !important;
    margin-bottom: -5px;
  }
  
  .circles {
    font-size: 14px !important;
    width: 200px !important;
    height: 200px !important;
    margin-top: 35px;
    font-size: 13px !important;
  }

}


.counters {
  font-size: 120px;
  margin-bottom: -5px;
}

.circles {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../../images/circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 35px;
}