@media screen and (min-width: 320px) and (max-width: 425px) {
  .container {
    width: 300px !important;
  }
  
  .feedbackItem {
    width: 300px !important;
  }
  
  .feedbackItem img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin-right: 20px !important;
  }
  
  .feedbackItem h1 {
    color: white;
    font-size: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    text-align: center;
    padding-left: 20px !important;
    padding-right: 40px !important;
  }
  
  .feedbackItem p {
    color: white;
    font-size: 16px !important;
    margin-bottom: 20px !important;
    width: 300px !important;
    margin: 0 auto;
    padding-right: 40px !important;
    padding-left: 20px !important;
  }
}

/* TELAS GRANDES MÓVEIS */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 300px !important;
  }
  
  .feedbackItem {
    width: 300px !important;
  }
  
  .feedbackItem img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin-right: 20px !important;
  }
  
  .feedbackItem h1 {
    color: white;
    font-size: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    text-align: center;
    padding-left: 20px !important;
    padding-right: 40px !important;
  }
  
  .feedbackItem p {
    color: white;
    font-size: 16px !important;
    margin-bottom: 20px !important;
    width: 300px !important;
    margin: 0 auto;
    padding-right: 40px !important;
    padding-left: 20px !important;
  }
}
/* TELAS GRANDES MÓVEIS */


.container {
  margin: 0 auto;
  width: 1200px;
}

.feedbackItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  margin: 0 auto;
}

.feedbackItem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.feedbackItem h1 {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedbackItem p {
  color: white;
  font-size: 26px;
  margin-bottom: 20px;
  width: 750px;
}